.interactive-wrapper {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}
.Column {
  display: table-cell;
  vertical-align: top;
}

#bernoulli-container,
#binomial-container,
#galton-container {
  background: white;
  margin: 40px auto;
  padding: 20px;
  width: 70%;
  height: 60%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: clip;
}

#galton-sliders input[type="range"] {
  margin-bottom: 10px;
}
#galton-board {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


label {
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

input[type="range"] {
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}


.button-1.perspective {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #46C8B2;
  background-color: white;
  color: #333;
}

.button-1.perspective.active,
.button-1.perspective:hover {
  background-color: #46C8B2;
  color: white;
}

.button-1.active,.button-1:hover, .button-1-s:hover{
   border: 1px solid #46C8B2;
   background-color: #46C8B2;
   color:white;
}

.bar.active {
  fill: #FF9B3C !important; /* Active bar color */
}

.tooltip {
  font-size: 12px;
  font-family: sans-serif;
  color: #333;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  pointer-events: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  position: absolute;
  opacity: 0;
  z-index: 10;
}



@media screen and (min-width: 320px) {
    .axis text {
        font-size: 8px;
    }
}

@media screen and (min-width: 680px) {
    .axis text {
        font-size: 15px;
    }
}